/* Write your CSS here. */
body {
  zoom: 0.25;
}

.field {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wgs {
  position: relative;
  height: 482px;
  width: 640px;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
  position: absolute;
  height: 356px;
  width: 376px;
  left: 109px;
  transition: margin-top;
  transition-duration: 0.25s;
}

.wgs__dirt-pile {
  position: absolute;
  height: 220px;
  width: 640px;
  bottom: 0;
}

.wgs__mole-head--hidden {
  margin-top: 482px;
}

h1 {
  font-size: 300px;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 169, 201);
  height: 120px;
  width: auto;
}

.nav-bar__ele {
  color: white;
  font-weight: bold;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}
